# Data Exploration and Preparation

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data_sets/dc_bikes.csv')

In [3]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3.0,13.0,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8.0,32.0,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5.0,27.0,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3.0,10.0,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0.0,1.0,1

In [4]:
df.isnull().sum()

datetime         0
season           0
holiday          0
workingday       0
weather          0
temp             0
atemp            0
humidity         0
windspeed        0
casual        6493
registered    6493
count            0
dtype: int64

In [5]:
df.dtypes

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
casual        float64
registered    float64
count           int64
dtype: object

In [6]:
len(df.index)

17379

### Examine whether the bicycle count shows any time-related patterns.

#### 1. Extract features like hour, month, etc. from the datetime column into their own columns

In [7]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [8]:
df.dtypes

datetime      datetime64[ns]
season                 int64
holiday                int64
workingday             int64
weather                int64
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
casual               float64
registered           float64
count                  int64
dtype: object

In [9]:
df['season'].unique()

array([1, 2, 3, 4])

In [10]:
df['holiday'].unique()

array([0, 1])

In [11]:
df['workingday'].unique()

array([0, 1])

In [12]:
df_dt1 = pd.read_csv('data_sets/dc_bikes.csv', index_col = 0, parse_dates=True)

In [13]:
df_dt1.index.year

Int64Index([2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011,
            ...
            2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012],
           dtype='int64', name='datetime', length=17379)

In [14]:
df_dt1['year'] = df_dt1.index.year

In [15]:
df_dt1.index.month

Int64Index([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
            ...
            12, 12, 12, 12, 12, 12, 12, 12, 12, 12],
           dtype='int64', name='datetime', length=17379)

In [16]:
df_dt1['month_number'] = df_dt1.index.month

In [17]:
df_dt1.index.month_name()

Index(['January', 'January', 'January', 'January', 'January', 'January',
       'January', 'January', 'January', 'January',
       ...
       'December', 'December', 'December', 'December', 'December', 'December',
       'December', 'December', 'December', 'December'],
      dtype='object', name='datetime', length=17379)

In [18]:
df_dt1['month'] = df_dt1.index.month_name()

In [19]:
df_dt1.index.day

Int64Index([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
            ...
            31, 31, 31, 31, 31, 31, 31, 31, 31, 31],
           dtype='int64', name='datetime', length=17379)

In [20]:
df_dt1['day_of_month'] = df_dt1.index.day

In [21]:
df_dt1.index.weekday

Int64Index([5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
            ...
            0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
           dtype='int64', name='datetime', length=17379)

In [22]:
df_dt1.index.day_name()

Index(['Saturday', 'Saturday', 'Saturday', 'Saturday', 'Saturday', 'Saturday',
       'Saturday', 'Saturday', 'Saturday', 'Saturday',
       ...
       'Monday', 'Monday', 'Monday', 'Monday', 'Monday', 'Monday', 'Monday',
       'Monday', 'Monday', 'Monday'],
      dtype='object', name='datetime', length=17379)

In [23]:
df_dt1['week_day'] = df_dt1.index.day_name()

In [24]:
df_dt1.index.hour

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
            14, 15, 16, 17, 18, 19, 20, 21, 22, 23],
           dtype='int64', name='datetime', length=17379)

In [25]:
df_dt1['hour_day'] = df_dt1.index.hour

In [26]:
df_dt1['season_name']= df_dt1['season'].replace({1:'winter', 2:'spring', 3:'summer', 4:'autumn'})

In [27]:
df_dt1.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month_number,month,day_of_month,week_day,hour_day,season_name
datetime,,,,,,,,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3.0,13.0,16,2011,1,January,1,Saturday,0,winter
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8.0,32.0,40,2011,1,January,1,Saturday,1,winter
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5.0,27.0,32,2011,1,January,1,Saturday,2,winter
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3.0,10.0,13,2011,1,January,1,Saturday,3,winter
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0.0,1.0,1,2011,1,January,1,Saturday,4,winter

### Create a part_of_day column for the bike data. It should have the following labels: morning, afternoon, evening, night

In [28]:
df_dt1['hour_of_day'] = df_dt1.index.hour
df_dt1.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month_number,month,day_of_month,week_day,hour_day,season_name,hour_of_day
datetime,,,,,,,,,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3.0,13.0,16,2011,1,January,1,Saturday,0,winter,0
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8.0,32.0,40,2011,1,January,1,Saturday,1,winter,1
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5.0,27.0,32,2011,1,January,1,Saturday,2,winter,2
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3.0,10.0,13,2011,1,January,1,Saturday,3,winter,3
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0.0,1.0,1,2011,1,January,1,Saturday,4,winter,4

In [29]:
df_dt1['hour_of_day'].min(), df_dt1['hour_of_day'].max()

(0, 23)

In [30]:
time_labels = ['night','morning', 'afternoon', 'evening']
bin_boundaries = [-0.1, 4.9, 12, 18, 23.9]

In [31]:
df_dt1['part_of_day']= pd.cut(df_dt1['hour_of_day'], bins=bin_boundaries, labels=time_labels)

In [32]:
df_dt1.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month_number,month,day_of_month,week_day,hour_day,season_name,hour_of_day,part_of_day
datetime,,,,,,,,,,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3.0,13.0,16,2011,1,January,1,Saturday,0,winter,0,night
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8.0,32.0,40,2011,1,January,1,Saturday,1,winter,1,night
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5.0,27.0,32,2011,1,January,1,Saturday,2,winter,2,night
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3.0,10.0,13,2011,1,January,1,Saturday,3,winter,3,night
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0.0,1.0,1,2011,1,January,1,Saturday,4,winter,4,night

In [33]:
df_dt1.tail()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month_number,month,day_of_month,week_day,hour_day,season_name,hour_of_day,part_of_day
datetime,,,,,,,,,,,,,,,,,,,,
2012-12-31 19:00:00,1,0,1,2,10.66,12.880,60,11.0014,NaN,NaN,156,2012,12,December,31,Monday,19,winter,19,evening
2012-12-31 20:00:00,1,0,1,2,10.66,12.880,60,11.0014,NaN,NaN,104,2012,12,December,31,Monday,20,winter,20,evening
2012-12-31 21:00:00,1,0,1,1,10.66,12.880,60,11.0014,NaN,NaN,67,2012,12,December,31,Monday,21,winter,21,evening
2012-12-31 22:00:00,1,0,1,1,10.66,13.635,56,8.9981,NaN,NaN,43,2012,12,December,31,Monday,22,winter,22,evening
2012-12-31 23:00:00,1,0,1,1,10.66,13.635,65,8.9981,NaN,NaN,28,2012,12,December,31,Monday,23,winter,23,evening

In [35]:
#df_dt1.to_csv('dc_bikes_2.csv', index=True)